/* ScheduleTable.css */

/* Стили для таблицы */
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* Стили для ячеек заголовка таблицы */
th {
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  padding: 8px;
  text-align: center;
}

/* Стили для ячеек данных в теле таблицы */
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
