@import "../../Style/main.scss";

.headerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 15vh;
  background: radial-gradient(
    at center,
    $header-bg-color-first 30%,
    $header-bg-color-second
  );
}

@media screen and (min-width: 300px) and (max-width: 767px) {
  .imgLogo {
    display: flex;
    padding: 15px 15px;
    margin: auto;
    width: 16vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .imgLogo {
    display: flex;
    padding: 20px 20px;
    margin: auto;
    width: 17vw;
    // height: 17vh;
  }
}

@media screen and (min-width: 1200px) {
  .imgLogo {
    display: flex;
    padding: 30px 30px;
    margin: auto;
    width: 20vh;
  }
}
