.container {
  display: flex;
  justify-content: center;
  max-width: 1600 px;
  padding-left: 30px;
  padding-right: 30px;
}

li {
  text-decoration: none;
}

$header-bg-color-first: rgb(167, 219, 245, 0.7);
$header-bg-color-second: rgb(255, 247, 236);
$body-bg-color-first: rgb(181, 245, 230);
$body-bg-color-second: rgb(156, 189, 242, 0.4);
